@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #E3F2FD;
}

h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.weather-input {
    width: 100%;
    max-width: 550px;
}

.weather-input h3 {
    font-size: 1.5rem;
}

.weather-input h2 {
    font-size: 1.5rem;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    background: #21294c;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    background: #E3F2FD;
    margin-top: -4px;
}

.weather-data {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.current-weather {
    background: #5372F0;
    color: #fff;
    padding: 20px 70px 20px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    box-sizing: border-box;
}

.current-weather .current-weather {
    width: 100%;
}

.current-weather h2 {
    font-size: 1.8rem;
}

.weather-data h4 {
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: 500;
}

.current-weather .icon img {
    max-width: 160px;
    align-items: right;
    margin-top: -15px;
}

.current-weather .icon h4 {
    margin-top: -20px;
    text-align: center;
    align-items: right;
    text-transform: capitalize;
}

.days-forecast {
    width: 90%;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 10px 0px 20px 0px;
    text-align: center;
}

.weather-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
}

.weather-cards .card {
    background: #6C757D;
    color: #fff;
    padding: 18px;
    list-style: none;
    border-radius: 5px;
    flex: 250px;
    text-align: center;
    min-width: 150px;
    max-width: 250px;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content h2 {
    text-align: center;
    margin-top: -10px;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.info-button {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1.1rem;
    background: #14297c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
